<div class="splash-content">
  <div class="container">
    <div class="row">
      <img class="col-centered splash-logo" src=<%= asset_path('splash-logo-2.png') %>>
      <br>
      <img class="col-centered splash-name" src=<%= asset_path('splash-name.png') %>>
      <br><br>
      <div class="sign-in-form col-centered">
        <form action="<%= session_url %>" method="post">
          <%= auth_token %>
          <input class="user-form" type="text" name="user[username]" placeholder="username">
          <br>
          <input class="user-form" type="password" name="user[password]" placeholder="password">
          <br>
          <input class="user-submit" type="submit" value="Sign in">
        </form>
        <div class="guest-login-button">
          <%= button_to "Sign in as Guest", :guest_login_url, method: :get, class: "user-submit" %>
        </div>
        <br>
        <div class="errors"><%= render "shared/errors" %></div>
        <p>Not a member?</p>
        <div class="col-centered">
          <a class="toggle-sign-up" href="<%= new_user_url %>">Sign Up</a>
        </div>
      </div>
    </div>
  </div>

  <script>
    $('.guest-login-button').on('click', function (event) {
      event.preventDefault();
      var guestButton = $(event.currentTarget);
      var username = "Guest User";
      var password = [null, null, null, null, null, null, null, null, null, null,
                      "p", "a", "s", "s", "w", "o", "r", "d"];

      var nameSlice = 0;
      var passwordSlice = 0;

      var typeUsername = setInterval(function () {
        var nameField = $('.user-form').first();
        var passwordField = $('.user-form').last();

        nameField.val(username.slice(0, nameSlice));
        passwordField.val(password.slice(0, passwordSlice).join(""));

        if (nameSlice < 11) {
          nameSlice += 1;
        }
        passwordSlice += 1;
        if (passwordSlice >= 18) {
          clearInterval(typeUsername);
        }
      }, 50);

      setTimeout(function () {
        console.log("timeout");
        guestButton.find('form').trigger("submit");
      }, 1000);
    });

  </script>

</div>
