<div class="row">
  <div class="user-profile-sidebar col-md-3">
    <h3><%= user.get('username') %></h3>
    <br>
    <img class="profile-picture" src="assets/lady_profile.png">
    <br><br>
    <% if (CURRENT_USER_ID === user.get('id')) { %>
      <a class="new-paper new-paper-link" href="#/papers/new">
      <img id="newPaper" class="new-paper-icon" src="assets/cross.png">
      New paper
      </a>
    <% } %>
  </div>

  <div class="col-md-7">
    <ul class="user-feed">
      <p class="user-feed-title">Recent Activity</p>
      <% if (activities) { %>
      <% activities.forEach(function (activity) { %>

        <% if (activity.type === "paper") { %>
          <li class="user-feed-item paper-item">
            <%= user.get('username') %> submitted a paper:
            <a href="#/papers/<%= activity.id %>"><%= activity.title %></a>,
            <abbr class="timeago" title="<%= activity.created_at %>"></abbr>
          </li>

        <% } else if (activity.type === "annotation") { %>
          <li class="user-feed-item annotation-item">
            <%= user.get('username') %> annotated a paper:
            <a href="#/papers/<%= activity.paper_id %>"><%= activity.body %></a>,
            <abbr class="timeago" title="<%= activity.created_at %>"></abbr>
          </li>

        <% } else if (activity.type === "comment") { %>
          <li class="user-feed-item comment-item">
            <% if (activity.commentable_type === "Paper") { %>
              <%= user.get('username') %> commented on a paper:
              <a href="#/papers/<%= activity.commentable_id %>"><%= activity.body %></a>,
              <abbr class="timeago" title="<%= activity.created_at %>"></abbr>
            <% } else { %>
              <%= user.get('username') %> replied to an annotation:
              <%= activity.body %>,
              <abbr class="timeago" title="<%= activity.created_at %>"></abbr>
            <% } %>
          </li>
        <% } %>
      <% }) %>
      <% } %>
    </ul>
  </div>
</div>
