<div class="annotation-show transitioned">
  <p class="header user-name">
    <% var userProfile = "#/users/" + annotation.get('user_id') %>
    <a href=<%= userProfile %>>
      <%= annotation.escape('author_name') %>
    </a>
  </p>

  <p class="annotation-body">
    <%= annotation.escape('body') %>
  </p>

  <% if (CURRENT_USER_ID === annotation.get('user_id')) { %>
    <button class="delete delete-annotation">Delete Annotation</button>
  <% } %>
  <br><br>
  <p class="header">Replies: </p>
  <ul class="comment-list"></ul>
  <form class="comment-form">
    <textarea name="comment[body]" class="comment-form-body" id="comment" value="<%= comment.escape('body') %>"></textarea>
    <input type="hidden" name="comment[commentable_id]" value="<%= annotation.id %>">
    <input type="hidden" name="comment[commentable_type]" value="Annotation">

    <br>
    <button class="submit submit-comment">Reply</button>
  </form>
</div>
