<div class="splash-content">
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <img class="splash-logo" src=<%= asset_path('logo.png') %>>
    </div>

    <ul class="nav navbar-nav toggle-sign-in">
      <li><a class="navbar-sign-in" href="<%= root_url %>">Sign In</a></li>
    </ul>

  </nav>

  <div class="container">
    <div class="row">
      <div class="col-centered">
        <img class="splash-image" src=<%= asset_path('microscope.gif') %>>
      </div>
      <div class="sign-in-form col-centered">
        <h3 class="splash-header">Sign Up</h3>

        <form action="<%= users_url %>" method="post">
          <%= auth_token %>
          <input class="user-form" type="text" name="user[username]" placeholder="username" value="<%= @user.username %>">
          <br>
          <input class="user-form" type="password" name="user[password]" placeholder="password" value="<%= @user.password %>">
          <br>
          <input class="user-submit" type="submit" value="create account">
        </form>
      </div>
    </div>
  </div>
</div>
