<div class="paper-heading">
  <h3><%= paper.escape('title') %></h3>

  <% var journal_link = "#/journals/"+ paper.escape('journal_id') %>
  <h6 class="paper-subheading">Published in:
  <a href=<%= journal_link %>>
    <%= paper.escape('journal_name') %>
  </a>
  </h6>

  <div class="paper-subheading paper-authors">Authors: </div>
    <% var authors = this.model.get('author_names') %>
    <% if (authors) { %>
      <% num = 0 %>
      <% authors.forEach(function (author) { %>
        <% var author_link = "#/authors/"+ author.name.replace(" ", "-") %>
        <a href=<%= author_link %> class="paper-author-name">
          <div class="author-name"><%= author.name %></div>
        </a>
        <% num += 1 %>
        <% if (num < authors.length) { %>
          <div class="comma"><%=",  "%></div>
        <% } %>
      <% }) %>
    <% } %>
  <br>
  <% var institution_link = "#/institutions/" + paper.escape('institution_id') %>
  <a href=<%= institution_link %>>
    <h6 class="paper-subheading paper-institution"><%= paper.escape('institution_name') %></h6>
  </a>
  <br>
</div>

<div class="paper-show clearfix row">
  <div class="col-md-6 paper-body-col">
    <div class="paper-body" data-toggle="tooltip" title="to annotate a piece of text, highlight it"><%= paper.formattedBody() %></div>

    <% if (paper.get('user_id') === CURRENT_USER_ID) { %>
      <button class="delete-paper">Delete Paper</button>
    <% } %>
    <form class="paper-comment-form">
      <textarea name="comment[body]"
                class="paper-comment-form-body"
                id="comment"
                value="<%= comment.escape('body') %>"></textarea>

      <input type="hidden" name="comment[commentable_id]" value="<%= paper.id %>">
      <input type="hidden" name="comment[commentable_type]" value="Paper">
      <br>
      <button class="submit submit-comment">Comment</button>
    </form>

    <h5 class="paper-comments-title">Comments:</h5>
    <ul class="paper-comment-list"></ul>
  </div>

  <div class="annotation-pane col-md-6"></div>
</div>
