<div class="paper-heading">
  <h3><%= paper.escape('title') %></h3>
  <h6>Published in: <%= paper.escape('journal_name') %></h6>
  <h6>Authors: <%= paper.escape('author_names') %></h6>
  <h6><%= paper.escape('institution_name') %></h6>
  <br>
</div>

<div class="paper-show clearfix row-full-height">
  <div class="col-full-height">
    <div class="paper-body"><%= paper.formattedBody() %></div>

    <% if (paper.get('user_id') === CURRENT_USER_ID) { %>
      <button class="delete-paper">Delete Paper</button>
    <% } %>
    <form class="paper-comment-form">
      <textarea name="comment[body]"
                class="paper-comment-form-body"
                id="comment"
                value="<%= comment.escape('body') %>"></textarea>

      <input type="hidden" name="comment[commentable_id]" value="<%= paper.id %>">
      <input type="hidden" name="comment[commentable_type]" value="Paper">
      <br>
      <button class="submit submit-comment">Comment</button>
    </form>

    <h5 class="paper-comments-title">Comments:</h5>
    <ul class="paper-comment-list"></ul>
  </div>

  <div class="annotation-pane col-full-height"></div>
</div>
