<% if (!on_home_page) { %>
  <div class="field-page-title clearfix">
    <h3 class="field-title"><%= field.replace("lS", "l S") %></h3>
  </div>
<% } %>

<div class="row-centered">
  <% if (paperLinks) { %>
    <% paperLinks.each(function (paper) { %>
      <a href="#/papers/<%= paper.id %>">
      <div class="paper-link-home col-md-3 col-centered">
        <div class="paper-link-image">
          <% filePath = ["assets/paper_covers/", paper.escape('title').split(" ")[0], ".png"].join("") %>
          <img class="paper-image" src=<%= filePath %>>
        </div>

        <div class="paper-link-text">
          <div class="paper-link-title"><%= paper.escape('title') %></div>
          <br>

          <div class="paper-info">
            <% var author_names = [] %>
            <% paper.get('authors').forEach(function (author) { %>
              <% author_names.push(author.name) %>
            <% }) %>
            <b><%= author_names.join(", ") %></b>
            <br>
            <%= paper.escape('institution_name') %>
            <br>
            <%= paper.escape('journal_name') %>
          </div>
        </div>
      </div>
      </a>
    <% }) %>
  <% } %>
</div>
