<div class="search-dropdown">
  <ul class="search-results">
    <% papers.first().get('papers').forEach(function (paper) { %>
      <a href="/#/papers/<%= paper.id %>">
        <li class="search-result-link">
          <%= paper.title %>
          <%= paper.authors %>
          <%= paper.institution_name %>
          <%= paper.journal_name %>
        </li>
      </a>
    <% }) %>
  </ul>
</div>
