<div class="search-dropdown">
  <ul class="search-results">
    <% papers.each(function (paper) { %>
      <a href="/#/papers/<%= paper.id %>">
        <li class="search-result-link">
          <%= paper.escape('title') %>

          <% var author_names = [] %>
          <% paper.get('authors').forEach(function (author) { %>
              <% author_names.push(author.name) %>
          <% }) %>
          <%= author_names.join(", ") %>

          <%= paper.escape('institution_name') %>
          <%= paper.escape('journal_name') %>
        </li>
      </a>
    <% }) %>
  </ul>
</div>
